<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EPL Fantasy Model</title>
</head>
<body>

    <div class="wrapper">
    <div class="jumbotron text-center">
        <h1>EPL Fantasy Model</h1>
    </div>
  </div>
    <div class="row">
        <div class="col-md-6" id="defenders">
            <h2>Defenders</h2>
            <img src="../static/DefenderRank.png">
        </div>
        <div class="col-md-6" id="middies">
            <h2>Midfielders</h2>
            <img src="../static/MidRank.png">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" id="goalies">
            <h2>Goalies</h2>
            <img src="../static/GoalieRank.png">
        </div>
        <div class="col-md-3" id="forwards">
            <h2>Forwards</h2>
            <img src="../static/ForwardRank.png">
        </div>
    </div>
</body>
</html>
